
<div class="container">
  <div class="row">
      <div class="col-12" id="rowLogo">
          <img src="../../assets/img/logo1.jpg" id="imgLogo" alt="No image" />
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <h1>La manera de desplazarte fácilmente por Ciudad Real ha llegado</h1>
      </div>
  </div>
  <div class="row" id="row2">
      <div class="col-4" id="col-imgGrande">
          <img src="../../assets/img/coche-main-page.jfif" id="imgGrande" alt="No image" />
      </div>
      <div class="col-8" id="colUser">
          <div class="row" id="rowUser">
              <app-register *ngIf="showRegisterComponent"></app-register>
              <app-login *ngIf="showLoginComponent"></app-login>
              <div class="col-6" id="registerbutton">
                  <button (click)="showRegister()">Registrarse</button>
              </div>
              <div class="col-6" id="loginbutton">
                  <button (click)="showLogin()">Iniciar sesión</button>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12" id="rowMover">
          <h1>¿Cómo te quieres mover?</h1>
      </div>
  </div>
  <div class="row" id="vehiculoRow">
      <div class="col-5" id="vehiculoColImg">
          <img src="../../assets/img/monopatin.jpg" alt="Patinete" id="vehiculoImg">
      </div>
      <div class="col-5" id="vehiculoInfo">
          <div class="row">
              <h2>Patinete eléctrico</h2>
          </div>
          <div class="row">
              <p>
                  Carnet necesario: ninguno.<br><br>
                  Coste: por determinar. <br><br>
                  Vehículos disponibles: por determinar. <br><br>
                  Uso: en este vehículo no es necesario el uso del casco. <br><br>
                  Plazas: 1
              </p>
          </div>
      </div>
  </div>
  <div class="row" id="vehiculoRow">
      <div class="col-5" id="vehiculoInfo">
          <div class="row">
             <h2>Moto eléctrica</h2>
          </div>
          <div class="row">
              <p>
                  Carnet necesario: AM o superior. <br><br>
                  Coste: por determinar.<br><br>
                  Vehículos disponibles: por determinar.<br><br>
                  Uso: necesario el uso del casco.<br><br>
                  Plazas: 2
              </p>
          </div>

      </div>
      <div class="col-5" id="vehiculoColImg">
          <img src="../../assets/img/motoMain.png" alt="Moto" id="vehiculoImg">
      </div>
  </div>
  <div class="row" id="vehiculoRow">
      <div class="col-5" id="vehiculoColImg">
          <img src="../../assets/img/cocheMain.png" alt="Patinete" id="vehiculoImg">
      </div>
      <div class="col-5" id="vehiculoInfo">
          <div class="row">
              <h2>Coche eléctrico</h2>
          </div>
          <div class="row">
              <p>
                  Carnet necesario: B.<br><br>
                  Coste: por determinar. <br><br>
                  Vehículos disponibles: por determinar. <br><br>
                  Uso: solo podrá conducir el usuario que realice la reserva  <br><br>
                  Plazas: en función del vehículo reservado
              </p>
          </div>
      </div>
  </div>
</div>

